name: First Workflow
on: workflow_dispatch
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: echo "Hello world! I'm chittin, the robot!"
      - name: Print bye
        run: echo "Bye, I'm running out of juice"
